#admin main {
	width: 69%;
	min-height: calc(100vh - 112px);
	margin: 0 auto;
}

#admin main > h1 {
	padding-top: 70px;
}

#admin input[type="text"] {
	width: 60%;
	height: 20px;
	background: #e0dede;
	display: block;
	margin: 10px;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

#admin input[type="submit"] {
	margin-top: 20px;
	padding: 7px;
	cursor: pointer;
	background-color: lime;
}

#admin button {
	margin: 80px;
	padding: 10px;
	background-color: red;
}
