#favorites a {
	color: #fff;
	text-decoration: none;
}

#favorites a:hover {
	text-decoration: underline;
}

#favorites main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 112px);
}

#favorites .products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
	padding: 0;
	margin: 0;
	list-style: none;
}

#favorites .product {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	border-radius: 25px;
	padding: 2vw 5vw 4vw;
	margin: 7vh 5vh;
	flex-basis: 50%;
	text-align: center;
	user-select: none;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}

#favorites .remove-favorite {
	background-color: #2fd18d;
	padding: calc(1vw - 4px);
	cursor: pointer;
}

#favorites .remove-favorite:hover {
	background-color: #51e7a9;
}

#favorites .product:hover {
	box-shadow: 10px 10px 30px #573b8a;
}

#favorites .no-products {
	text-align: center;
	font-size: 4vw;
	user-select: none;
	padding: 6vw;
	background-color: #e3e3e3;
}

#favorites .product p {
	color: white;
	font-size: 3.5vw;
	margin: 0;
}

#favorites li > img {
	width: 20vw;
	height: 17vw;
}
