#login-signup {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#login-signup > .main {
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#login-signup #chk {
	display: none;
}

#login-signup .signup {
	position: relative;
	width: 100%;
	height: 100%;
}

#login-signup label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	transition: 0.5s ease-in-out;
}

#login-signup input[type="text"],
#login-signup input[type="password"],
#login-signup input[type="email"] {
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

#login-signup input[type="submit"] {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: 0.2s ease-in;
	cursor: pointer;
}

#login-signup input[type="submit"]:hover {
	background: #6d44b8;
}

#login-signup .login {
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: 0.8s ease-in-out;
}

#login-signup .login label {
	color: #573b8a;
	transform: scale(0.6);
}

#login-signup .message {
	margin: 0;
	padding: 20px;
	padding-top: 150px;
	width: calc(350px - 40px);
	height: calc(500px - 170px);
	line-height: 1.8;
	font-weight: bold;
	text-align: center;
	color: red;
	background-color: #1a004ce0;
	position: absolute;
	z-index: 2;
}

#login-signup #chk:checked ~ .login {
	transform: translateY(-500px);
}
#login-signup #chk:checked ~ .login label {
	transform: scale(1);
}
#login-signup #chk:checked ~ .signup label {
	transform: scale(0.6);
}
