#profile main {
  width: 69%;
  min-height: calc(100vh - 112px);
  margin: 0 auto;
}

#profile main > h1 {
  padding-top: 70px;
  margin-bottom: 20px;
}

#profile input[type='text'],
#profile input[type='password'],
#profile input[type='email'] {
  width: 60%;
  height: 20px;
  background: #fff;
  display: block;
  margin: 10px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
}

#profile input[type='submit'] {
  margin: 20px;
  width: 110px;
  padding: 7px;
  cursor: pointer;
  background-color: #2c0c77;
  color: #fff;
  text-align: center;
}
#profile button {
  margin: 5px 20px 30px;
  width: 110px;
  padding: 7px;
  cursor: pointer;
  background-color: #2c0c77;
  color: #fff;
  text-align: center;
}
